{% extends 'base.html' %}
{% block content %}

    <!--Carousel Wrapper-->
    <div
        id="carousel-example-2"
        class="carousel slide carousel-fade z-depth-1-half"
        data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
            <li data-target="#carousel-example-2" data-slide-to="3"></li>
            <li data-target="#carousel-example-2" data-slide-to="4"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="static/img/002copyhold__.jpg" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                </div>
            </div>
            <div class="carousel-item">
                <div class="view">
                    <img
                        class="d-block w-100"
                        src="static/img/008hastingscol__.jpg"
                        alt="Second slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                </div>
            </div>
            <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100" src="static/img/002entrance_.jpg" alt="Third slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100" src="static/img/004_.jpg" alt="Third slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100" src="static/img/002sunlounge_.jpg" alt="Third slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"></h3>
                    <p></p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a
            class="carousel-control-prev"
            href="#carousel-example-2"
            role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a
            class="carousel-control-next"
            href="#carousel-example-2"
            role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

    <!-- About Section -->
    <section class="page-section about" id="about">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="">
                    <i class=""></i>
                </div>
                <div class=""></div>
            </div>
            <br>
            <br>

            <!-- About Section Content -->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">This website is a showcase exclusively for my
                        architectural/property portfolio, and to illustrate to potential clients my
                        competence in this field of photography. I possess the latest Nikon equipment to
                        achieve excellent

                    </p>

                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">
                        digital quality imagery, that compliment my compositional and lighting
                        abilities. I have gained the experience necessary to provide clients with a
                        professional and skilled body of images.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">
                        I believe I am open and approachable and value straightforward easy discussions
                        with clients about their requirements in the marketplace.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="page-section bg-primary text-white mb-0" id="portfolio">
        <div class="container">

            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">Portfolio</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
            <div <i class=""></i>
        </div>
        <div class=""></div>
    </div>
    <br>
    <br>

    <!-- Portfolio Section Content -->

    <div class="container">
        <div class="row">
            {% for catagory_photos in paddy_photodb %}
                <figure class="col-md-3">
                    <div id="wrapper">
                        <a href="{{ catagory_photos.link }}" class="hover">

                            <img alt="picture" src="{{ catagory_photos.url }}" class="img-fluid"></a>
                        <p class="text">{{ catagory_photos.name }}</p>

                    </div>
                </figure>
            {% endfor %}

        </div>
    </div>

</section>

<!-- Prices Section -->
<section class="page-section about" id="prices">
    <div class="container">

        <!-- Prices Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Prices</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="">
                <i class=""></i>
            </div>
            <div class=""></div>
        </div>
        <br>
        <br>

        <!-- Prices Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <h2 class="location-002">Property Market</h2>
                <br>
                <p class="lead">
                    <span>3-Bedroom House</span>
                    <i>
                        (incl 1 living, 1 dining & 1 bathroom)</i>
                    - £100
                </p>
                <p class="lead">
                    <span>Extra Rooms</span>
                    - Plus £20 each
                </p>
                <p class="lead">
                    <span>Aerial Images</span>
                    - Plus £20 per extra image
                </p>
                <p class="lead">
                    <span>Discription</span>
                    <p class="lead">This service is exclusive to the sale of household properties. A
                        minimum of 20 high-resolution images will be supplied. Basic post production of
                        cropping, colour balance, parallax distortion correction and enhancements are
                        included in the package.</p>
                    <p class="lead">It is my absolute intention to provide the vendor with excellent
                        quality imagery that will enhance the sale of their property. However, the
                        vendor should be aware that the property should be in good order and ready for
                        photography. I have no authority to organize or arrange the individual rooms.</p>
                </div>

                <div class="col-lg-4 ml-auto">
                    <h2 class="location-002">Commercial</h2>
                    <br>
                    <p class="lead">
                        <span>Half Day</span>
                        <i>
                            (4 hours)</i>
                        - £300
                    </p>
                    <p class="lead">
                        <span>Subsequent Hours</span>
                        - £50 per hour
                    </p>
                    <p class="lead">
                        <span>Aerial Images</span>
                        - Plus £25 per extra image
                    </p>
                    <p class="lead">
                        <span>Discription</span>
                        <p class="lead">Discounted rates are available for multiple commissions. As with
                            all bespoke commissions establishing the client’s requirements is essential. A
                            cordial discussion prior to the photography is recommended. All post production
                            is included in the fee.</p>
                    </div>
                    <div class="col-lg-4 ml-auto">
                        <h2 class="location-002">Expenses</h2>
                        <br>
                        <p class="lead">
                            <span>Mileage</span>
                            <i>
                                (within 10-mile radius, free)</i>
                            - 45p per mile
                        </p>
                        <p class="lead">
                            <span>Travel Time</span>
                            <i>(first hour free)</i>
                            - £20 per hour
                        </p>
                        <p class="lead">
                            <span>Copyright Notice</span>
                            <p class="lead">Copyright remains at all times with the photographer, but
                                extensive licences are supplied to the client for multiple usages. Images may
                                not be sold on to a 3rd party without the express consent of the photographer.

                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Contact Section -->

            <section class="page-section bg-primary text-white mb-0" id="contact">
                <div class="container">

                    <!-- Contact Section Heading -->
                    <h2 class="page-section-heading text-center text-uppercase text-white">Contact Me</h2>

                    <!-- Icon Divider -->
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                    <div <i class=""></i>
                </div>
                <div class=""></div>
            </div>
            <br>
            <br>

            <!-- Contact Section Content -->

        </div>

        <div class="center-form">
            <form onsubmit="return sendMail(this);" method="POST">
                <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="fullname"
                    placeholder="Name"
                    required="required"/>
                <input
                    type="text"
                    name="emailaddress"
                    class="form-control"
                    id="emailaddress"
                    placeholder="Email"
                    required="required"/>
                <textarea
                    rows="5"
                    name="projectsummary"
                    class="form-control"
                    id="projectsummary"
                    placeholder="Message"
                    required="required"></textarea>
                <br>
                <button type="submit" class="btn btn-secondary center-block">Send Project Request</button>
            </form>
        </div>
    </div>
</div>
</div>
</section>

{% endblock %}